<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

	<title>Book Store</title>
</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-info">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">Book Store</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="available_books">Available Books</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="my_books">My Books</a>
					</li>
				</ul>
				<div>
					<a class="nav-link" href="book_register">New Book Registers</a>
				</div>
			</div>
		</div>
	</nav>

	<div class="container text-center">
		<h1>WELCOME TO OUR BOOK STORE</h1>
		<h6>Welcome to the world of online bookstores! Online bookstores are digital platforms that offer a wide variety
			of books for sale, ranging from textbooks to novels, biographies to science fiction, and everything in
			between.
			Shopping at an online bookstore is a convenient and easy way to find the books you want without ever leaving
			your home.
			With just a few clicks, you can browse through a vast selection of books, read reviews from other readers,
			and make
			purchases with ease. In addition to purchasing physical books, many online bookstores also offer e-books and
			audiobooks
			that can be downloaded and enjoyed on various devices. Some of the popular online bookstores include Amazon,
			Barnes & Noble, and Book Depository, among others. These stores offer competitive pricing, fast shipping,
			and great
			customer service. Whether you're a student, a professional, or just a book lover, online bookstores offer a
			convenient
			way to find and purchase the books you need and love.
		</h6>
		<img src="/images/book.png" width="800px" </div>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
			crossorigin="anonymous"></script>

		<!-- Option 2: Separate Popper and Bootstrap JS -->
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
			integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
			crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
			integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
			crossorigin="anonymous"></script>

</body>

</html>